MERCADOPAGO_ACCESS_TOKEN=
PORT=3001
ALLOWED_ORIGINS=http://localhost:5500,http://127.0.0.1:5500
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_BASE_URL=https://api-m.paypal.com
PAYPAL_RETURN_BASE_URL=https://fresche1.com
